{% extends "base.html" %}

{% block 'title' %}Cadastrar Produto{% endblock  %}

{% block 'dashboard'%}
    <div class="container">
        <br>
        <br>
        {% if messages %}
            {% for message in messages %}
                <div class="bg-alert {{message.tags}}">{{message}}</div>
            {% endfor %}
        {% endif %}
        <h2>Cadastrar produtos</h2>
        <form action="{% url 'cadastrar_produto' %}" method="POST">{% csrf_token %}
            <label>Nome produto:</label>
            <input class="form-control" type="text" name="nome" />
            <br>
            <label>Preço:</label>
            <input class="form-control" type="number" name="preco" />
            <br>
            <label>Quantidade:</label>
            <input class="form-control" type="number" name="quantidade" />
            <br>

            <input class="btn btn-success" type="submit" value="Cadastrar" />
        </form>
    </div>
{% endblock %}